@import "../../../vars.scss";
.character-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $card-grey;
  border-radius: 3%;
  height: 18.75rem;
  width: 15rem;
  margin: 1rem;
  .card-image-container {
    margin: 1rem;
  }
  .card-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      margin: 0;
    }
    .card-name-container {
      p {
        font-family: $joti-one-font;
        font-size: 1rem;
      }
      margin-block-end: 0.3rem;
    }
    .card-location-container {
      p {
        font-family: $livvic-font;
        font-size: 0.8rem;
      }
    }
    .card-status-container {
      p {
        font-family: $livvic-font;
        font-size: 0.8rem;
      }
    }
  }
}
.character-card:hover {
  box-shadow: 0 0 2rem #42b4ca;
}
