<header>
  <div class="header-container">
    @if(router.url === '/') {
    <div>
      <a routerLink='/table' routerLinkActive="active">
        <img
          src="https://res.cloudinary.com/djz7c5bdp/image/upload/h_45/v1707300968/rick-and-morty/traafyi2k7acmmdgbddf.webp"
          alt="Table icon">
      </a>
    </div>
    }
    @if(router.url === '/table') {
    <div>
      <a routerLink="/" routerLinkActive="active">
        <img
          src="https://res.cloudinary.com/djz7c5bdp/image/upload/h_45/v1707300975/rick-and-morty/tiyqa1ed3pfi30cr3mmc.webp"
          alt="Table icon">
      </a>
    </div>
    }
    <div class="logo-container">
      <img
        src="https://res.cloudinary.com/djz7c5bdp/image/upload/h_80/v1706990212/rick-and-morty/w4a2oiujjmkww3ht4xrm.webp"
        alt="Rick and Morty logo">
    </div>
  </div>
</header>
