<div class="edit-character-dialog-container">
  <div class="edit-character-title-container">
    <h2>Edit Character</h2>
  </div>
  <div class="edit-character-form-container">
    <form #editForm="ngForm">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="updatedCharacter.name" required>
      </div>
      <div>
        <label for="status">Status:</label>
        <input type="text" id="status" name="status" [(ngModel)]="updatedCharacter.status" required>
      </div>
      <div>
        <label for="species">Specie:</label>
        <input type="text" id="species" name="species" [(ngModel)]="updatedCharacter.species" required>
      </div>
      <div class="buttons-container">
        <div>
          <button mat-raised-button color="primary" (click)="onSaveClick()" class="save-button">Save</button>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="onCancelClick()" class="cancel-button">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
