@import "../../../vars.scss";

.pagination-container {
  display: flex;
  justify-content: space-around;
  button {
    cursor: pointer;
    background-image: linear-gradient(
      to right,
      $footer-blue 0%,
      $table-blue 51%,
      $footer-blue 100%
    );
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 0.5rem;
    font-family: $livvic-font;
  }

  button:hover {
    background-position: right center;
    text-decoration: none;
  }
}
